@model JioMobileRechargeApplication.Models.PlanModel

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<div class="container">

    <div class="row">
        <div class="d-flex justify-content-center my-5">
            <p>&nbsp;</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal editadmindiv">
             <p>&nbsp;</p>
            <h4 class="text-center">Add Plan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" , @id= "planprice", @placeholder="Enter Price", @onfocusout= "planPrice()" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    <small></small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Validity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Validity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Validity", @id = "planvalidity", @onfocusout = "planValidity()" } })
                    @Html.ValidationMessageFor(model => model.Validity, "", new { @class = "text-danger" })
                    <small></small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter data", @id = "plandata", @onfocusout = "planData()" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                    <small></small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Voice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Voice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Voice", @id = "planvoice", @onfocusout = "planVoice()" } })
                    @Html.ValidationMessageFor(model => model.Voice, "", new { @class = "text-danger" })
                    <small></small>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sms, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sms, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter sms ", @id = "plansms", @onfocusout = "planSms()" } })
                    @Html.ValidationMessageFor(model => model.Sms, "", new { @class = "text-danger" })
                    <small></small>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-center">
                    <input type="submit" value="Create" class="btn btn-primary text-center" onclick=" return planValidation()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
            }

        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "GetPlanDetails","Admin", new { @class = "btn btn-primary" })
    </div>

    </div>

<script src="~/Content/Javscript/AddPlan.js?Version=3" type="text/javascript"></script>