@model IEnumerable<JioMobileRechargeApplication.Models.TransactionModel>

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container">
    <p>&nbsp;</p>
    <h1 class="text-center">Transactions</h1>
    <small>&nbsp;</small>
    <table class="table table-bordered table-hover table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rechargeplan)
            </th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rechargeplan)
                </td>
            </tr>
        }

    </table>
    <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>
</div>