
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="container">
    <p>&nbsp;</p>
    <div class="row justify-content-evenly">
        <h4>New Plans</h4>
        @foreach (JioMobileRechargeApplication.Models.PlanModel plan in ViewBag.Plans)
        {
            <div class="col-md-5 p-4 my-2 plans">
                <div class="d-flex justify-content-between px-2 ">
                    <div>
                        <h3>&#8377; @plan.Price</h3>
                    </div>
                    <div>
                        <h6 class="text-danger"><em>UNLIMITED<br />TRUE 5G</em></h6>
                    </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between px-2 ">
                    <div>
                        <h6>VOICE</h6>
                        <h6>@plan.Voice</h6>
                    </div>
                    <div>
                        <h6>DATA</h6>
                        <h6>@plan.Data</h6>
                    </div>
                    <div>
                        <h6>VALIDITY</h6>
                        <h6>@plan.Validity</h6>
                    </div>
                </div>
                <small>&nbsp;</small>
                <div class="d-flex justify-content-between px-2 ">
                    <div>
                        <h6>SMS</h6>
                        <h6>@plan.Sms</h6>
                    </div>
                    <div class="text-end mx-3 my-3">
                        @Html.ActionLink("Recharge", "Recharge", "User", new { id = @plan.Id }, new { @class = " btn btn-primary" })
                    </div>
                </div>

            </div>
        }
    </div>
    <p>&nbsp;</p>
    <div class="row ">
        <h4>Topup</h4>
        <ul class="d-flex flex-grow-4 topup">
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 topcolor">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 100 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;100</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 100 }, new { @class = " btn btn-primary" })
                    </div>
                </div>
            </li>
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 " style="background-color:purple;">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 10 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;10</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 10 }, new { @class = " btn btn-primary" }))
                    </div>
                </div>
            </li>
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 " style="background-color:lightgreen;">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 200 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;200</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 200 }, new { @class = " btn btn-primary" })
                    </div>
                </div>
            </li>
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 " style="background-color:skyblue;">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 50 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;50</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 50 }, new { @class = " btn btn-primary" })
                    </div>
                </div>
            </li>
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 " style="background-color:mediumaquamarine;">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 250 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;250</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 250 }, new { @class = " btn btn-primary" })
                    </div>
                </div>
            </li>
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 " style="background-color:dodgerblue;">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 150 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;150</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 150 }, new { @class = " btn btn-primary" })
                    </div>
                </div>
            </li>
            <li>
                <div class=" p-1 my-2 mx-2 rounded-2 " style="background-color:blueviolet;">
                    <div class="d-flex justify-content-around ">
                        <div class="mx-2">
                            <h3>Topup&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <div>Talktime of 500 </div>
                        </div>
                        <div class="mx-2">
                            <h3> &#8377;500</h3>
                        </div>
                    </div>
                    <small>&nbsp;</small>
                    <div class="text-end mx-3 my-2">
                        @Html.ActionLink("Topup", "Topup", "User", new { id = 500 }, new { @class = " btn btn-primary" })
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<script type="text/javascript">
    function preback() {
        window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload = function () { null; }

</script>